body {
    margin: 0;
}


/*--- header ---*/

#header {
    width: 100%;
    height: 320px;
    background-color: #707070;
    color: #FFFFFF;
    text-align: center;
}

#header .selecao {
    width: 100%;
    height: 23px;
    padding-top: 64px;
    line-height: 23px;
    margin: 0px;
    font: Regular 20px/24px Helvetica Neue;
    font-size: 20px;
    letter-spacing: 0;
}

#header h1 {
    width: 100%;
    margin: 0;
    font: Bold 40px/49px Helvetica Neue;
    letter-spacing: 0;
    opacity: 1;
}

#header .aviso {
    width: 100%;
    top: 164px;
    margin: 0;
    font: Regular 14px/16px Helvetica Neue;
    letter-spacing: 0;
    opacity: 1;
}

#header .menu {
    height: 42px;
    line-height: 42px;
    padding: 42px 0;
}

#header .menu ul {
    margin: 0;
    padding: 0;
}

#header .menu ul li {
    display: inline;
    margin-left: 31px;
}

#header .menu ul li button {
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: Regular 14px/16px Helvetica Neue;
    letter-spacing: 0;
    text-decoration: none;
    color: #888888;
    opacity: 1;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
}